{% extends 'base.html' %}
{% block title %}- List{% endblock %}
{% block content %}
{% for post in photos %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <br><br>
        <button type="button" class="btn btn-xs btn-warning">
            {{post.author.username}}
        </button>
        <a href="{% url 'photo:photo_detail' pk=post.id %}"><p><br><img src="{{post.photo.url}}"
                                                                        style="width: 300px; height: 300px;"></p></a>
        <p>{{post.text|linebreaksbr}}</p>
    </div>
    <div class=" col-md-2"></div>
</div>
{% endfor %}
{% endblock %}